/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

.container{
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    margin-bottom: 64px;
}

/* header styles  */
.header-bg{
background-color:#264653 ;
}
.top-banner{
    color: white;
}
.header-paragraph{
    color: #E0E0E0;
    font-weight: 300;
}
/* featured bikes section styles  */
.featured-bikes{
    margin-bottom: 160px;
}
.grayscale-bikes{
    filter: grayscale(100%);
}
.orange-text{
    color: #E76F51;
}
.orange-line{
    background-color: #E76F51;
    width: 50px;
    height: 2px;
}