/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope&display=swap');

.container{
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    margin-bottom: 64px;
}
.featured-bikes,.latest-news,.happy-clients,.faq-section,.other-products,.services-section{
    margin-bottom: 160px;
}

/* header styles  */
.login-btn{
    background-color: #E76F51;
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 5px;
}
.purchase-btn,.checkout-btn{
    background-color: #E76F51;
    color: white;
    border: none;
    padding: 10px 46px;
    border-radius: 5px;
    font-weight: 500;
    line-height: 24px;
}

.header-bg{
background-color:#264653 ;
}
.top-banner{
    color: white;
}
.header-paragraph{
    color: #E0E0E0;
    font-weight: 300;
}
/* featured bikes section styles  */

.grayscale-bikes{
    filter: grayscale(100%);
}
.orange-text{
    color: #E76F51;
}
.bike-details{
    color: #6C6C6C;
}
.orange-line{
    background-color: #E76F51;
    width: 50px;
    height: 2px;
}
/* latest news section styles  */
.readmore-btn{
    color: white;
    background-color: #E76F51;
    border: none;
}

/* Happy clients style  */
.client-details{
    color: #6C6C6C;
}
.client-name{
    color: #23A6F0;
    font-weight: 600;
}
.filled-star,.empty-star{
    color: #E77C40;
}
.client-occupation{
    color: #252B42;
    font-weight: 600;
}
/* faq section  */
.faq-section{
    font-family: 'Inter', sans-serif;
}
.faq-section .row{
color: #383838;
}
.dropdown-btn{
    border: none;
    font-size: 0.6em;
    text-align: start;
    background-color: white;
    font-weight: 600;
    color: #383838;
    padding: 0 24px;
}

/* other products section styles  */
.bike-specs li{
    margin:10px 0;
}
.bike-specs .list-bg{
    background-color: #d9edf7;
}
.moredetails-btn{
    background-color: #337ab7;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
}
/* services-section styles */
.services-section{
    background-color: rgba(234, 236, 237, 0.309);
}
/* footer styles  */
footer .container{
    font-family: 'Manrope', sans-serif;
}
.footer-bg{
    background-color: #0B0D17;
    color: white;
}
.copyright-text{
    color: #D9DBE1;
}
