/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

.container{
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    margin-bottom: 64px;
}
.featured-bikes,.latest-news,.happy-clients{
    margin-bottom: 160px;
}

/* header styles  */
.header-bg{
background-color:#264653 ;
}
.top-banner{
    color: white;
}
.header-paragraph{
    color: #E0E0E0;
    font-weight: 300;
}
/* featured bikes section styles  */

.grayscale-bikes{
    filter: grayscale(100%);
}
.orange-text{
    color: #E76F51;
}
.bike-details{
    color: #6C6C6C;
}
.orange-line{
    background-color: #E76F51;
    width: 50px;
    height: 2px;
}
/* latest news section styles  */
.readmore-btn{
    color: white;
    background-color: #E76F51;
    border: none;
}

/* Happy clients style  */
.client-details{
    color: #6C6C6C;
}
.client-name{
    color: #23A6F0;
    font-weight: 600;
}
.filled-star,.empty-star{
    color: #E77C40;
}
.client-occupation{
    color: #252B42;
    font-weight: 600;
}
/* faq section  */
.faq-section .row{
color: #383838;
}
